@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Lato',sans-serif;
}
.outer-box{
    width:100vw;
    height: 100vh;
    background:linear-gradient(to top left,#3ed8ff,#a8f5ff) ;
}
.inner-box{
    width:400px;
    margin:0 auto;
    position:relative;
    top:40%;
    transform: translateY(-50%);
    padding:20px 40px;
    /* background-color: #ffffff09; */
    background: linear-gradient(to top left,#ffffffff,#ffffff33);
    border-radius:8px;
    box-shadow:2px 2px 5px #2773a5;
    z-index:2;
    backdrop-filter: blur(8px);

}
.signup-header h1{
    font-size:2.5rem;
    color:#212121;
}
.signup-header p {
    font-size:1rem;
    color:#555;
}
.signup-body{
    margin:10px;

}
.signup-body p{
    margin:10px 0;
}
.signup-body p label{
    display:block;
    font-weight: bold;
}
.signup-body p input{
    width:100%;
    border:2px solid #ccc;
    border-radius:4px;
    font-size: 1rem;
    margin-top:4px;
}
.signup-body p input[submit]{
    height: 20px;
    background-color:#3498;
    border:none;
    color:white;
    cursor:pointer;
}
#submit:hover{
    background-color:#1f94e2;
}
.signup-footer p{
    color:#2c2a2a;
    text-align:center;
}
.signup-footer p a{
    color:#2773a5;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to top right,#ffffff33,#ffffffff);
    position:absolute;
}
.c1{
    top:100px;
    left:40px;
}
.c2{
    bottom: 150px;
    right:45px;
}